{% extends "base.html" %}

{% block title %}Search Results{% endblock title %}

{% block body %}
    <h1>Search Results for: "{{ query }}"</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                {% include 'core/includes/book-card.html' %}
            {% endfor %}
        </ul>

    {% else %}
        <p>No results found for your search.</p>
    
    {% endif %}

{% endblock body %}

{% block add_js %}
    <script>
        function expandDescription(bookId) {
            var fullDesc = document.getElementById("description-" + bookId);
            var truncatedDesc = document.getElementById("trunc-description-" + bookId);
            var expandLink = document.getElementById("expand-" + bookId);
            
            // If the full description is currently hidden, show it
            if (fullDesc.style.display === "none") {
                fullDesc.style.display = "inline";  // Show full description
                truncatedDesc.style.display = "none";  // Hide truncated description
                expandLink.innerHTML = "<a href='javascript:void(0);' onclick='expandDescription(\"" + bookId + "\")'>[Read Less]</a>";  // Change to "Read less"
            } else {
                fullDesc.style.display = "none";  // Hide full description
                truncatedDesc.style.display = "inline";  // Show truncated description
                expandLink.innerHTML = "<a href='javascript:void(0);' onclick='expandDescription(\"" + bookId + "\")'>[Read More]</a>";  // Revert back to "Read more"
            }
        }
    </script>
{% endblock add_js %}
