{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        {% block css_files %}{% endblock %}
        <link rel="stylesheet" href="{% static "app.css" %}">
    </head>

    <body>
        <header id="main-navigation">
            <nav>
                <a href="{% url "home_page" %}">
                    <img id="logo-image" src="{% static "logos/Logo-BW-Small.png" %}" alt="BookClub Logo" />
                </a>
                <label for="browse">Browse Books</label>
                <select id="browse">
                    <option value="recommendations">Recommendations</option>
                    <option value="award">Award Winners and Nominees</option>
                    <option value="new-releases">New Releases</option>
                    <optgroup label="Genres">
                        {% for genre in genres %}
                            <option value="{{ genre }}">{{ genre|titlecase }}</option>
                        {% endfor %}
                    </optgroup>
                    <option value=""></option>
                </select>
                <a href="{% url "book_clubs" %}">Clubs</a>
                <form action="{% url 'search_books' %}" method="get">
                    <input type="text" name="q" placeholder="Search.." value="{{ request.GET.q }}">

                    <label for="search_type">Search by:</label>
                        <select name="search_type" id="search_type">
                            <option value="title" {% if request.GET.search_type == 'title' %}selected{% endif %}>Title</option>
                            <option value="author" {% if request.GET.search_type == 'author' %}selected{% endif %}>Author</option>
                            <option value="isbn" {% if request.GET.search_type == 'isbn' %}selected{% endif %}>ISBN</option>
                        </select>
                    
                    <button type="submit">Search</button>
                </form>
                <a href="{% url "sign_up" %}">Profile</a>
                <a href="">Favorites</a>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        {% block add_js %}
            <script src="{% static 'js/expand-description.js' %}"></script>
        {% endblock add_js %}
    </body>
</html>
